<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main>
        <h2>Hola <%= user.nombre %></h2></br>
        <p>Nombre: <%= user.nombre %></p>
        <p>Apellido: <%= user.apellido %></p>
        <p>Email: <%= user.email %></p>
    </main>
    <%- include("../partials/footer") %>     
    </body>
</html>