<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main>
        <h2>Hola <%= user.nombre %></h2></br>
        <p>Nombre: <%= user.nombre %></p>
        <p>Apellido: <%= user.apellido %></p>
        <p>Email: <%= user.email %></p>
        <div class="comprar-detalle" >            
            <button id="eliminar" type="submit">
                <a href="/users/edit/<%= users.id %>">
                    EDITAR
                </a>
            </button>            
        </div>
        <div class="comprar-detalle" >
            <form action="/users/delete/<%= users.id %>?_method=DELETE" method="POST">
                <button id="eliminar" type="submit">ELIMINAR</button>
            </form>
        </div>
    </main>
    <%- include("../partials/footer") %>     
    </body>
</html>