<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
   <main>
       <h4>Listado de Usuarios</h4>
       <div>
           <a href="users/register">Crear Usuario</a>
       </div>
       <ul>
           <% for(let i = 0; i < users.lenght; i++) { %>
            <li>
                <a href="users/detail/<%=users[i].id%>"><%=users[i].nombre%> <%=users[i].apellido%></a>
            </li>
          <% } %>
       </ul>
   </main>
    <%- include("../partials/footer") %>     
    </body>
</html>