<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main>
        <p>Nombre: <%= users.firstName %></p>
        <p>Apellido: <%= users.lastName %></p>
        <p>Email: <%= users.email %></p>
        <p>Direccion: <%= users.street %> <%= users.number %> <%= users.floor %> <%= users.apartment %></p>
        <p>Ciudad: <%= users.city %></p>
        <p>Provincia: <%= users.state %></p>
        <p>Codigo postal: <%= users.cp %></p>
        <p>Numero de telefono: <%= users.phone_number %></p>


        <div class="comprar-detalle" >            
            <button id="eliminar" type="submit">
                <a href="/users/edit/<%= users.id %>">
                    EDITAR
                </a>
            </button>            
        </div>
        <div class="comprar-detalle" >
            <form action="/users/delete/<%= users.id %>?_method=DELETE" method="POST">
                <button id="eliminar" type="submit">ELIMINAR</button>
            </form>
        </div>
    </main>
    <%- include("../partials/footer") %>     
    </body>
</html>