<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
   <main>
       <div>
           <% if(!locals.isLogged) { %>
            <a href="users/register">Crear Usuario</a>
           <% } %>
       </div>
       <br><br>
       <h4>Listado de Usuarios</h4>
       <ul>
           <% for(let i = 0; i < Object.keys(users).length; i++) { %>
            <li>
                <a href="users/detail/<%=users[i].id%>"><%=users[i].firstName%> <%=users[i].lastName%></a>
            </li>
          <% } %>
       </ul>
   </main>
    <%- include("../partials/footer") %>     
    </body>
</html>