<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

<body>
    <%- include("../partials/header") %>
    <div class="create-product">

        <form 

        <% if(typeof producto !== 'undefined' && typeof producto.id !== 'undefined'){%>
			<form action="/products/create/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data" >
		<%}else{%>
			<form action="/products/create" method="POST" enctype="multipart/form-data">
		<%}%>
            <h1 class="cre-titulo">NUEVO PRODUCTO</h1>

            <label for="nombre-producto">Nombre del producto</label> <br>
            <input 
                type="text" 
                name="nombre" 
                id="nombre"
                value="<%= typeof producto!== 'undefined'? producto.nombre: '' %>" > 
            <br>

            <label for="descripción">Descripción</label> <br>
            <input 
                type="text" 
                name="descripcion" 
                id="descripcion"
                value="<%= typeof producto !== 'undefined'? producto.descripcion: ''%>"> 
            <br>
            <label for="precio">Precio</label>
            <br>
            <input type="number" name="precio" id="precio" value="<%= typeof producto !== 'undefined'? producto.precio: '' %>">
            <br>
            <label for="imagen-producto">Imágenes</label> 
            <br>
            <input type="file" name="imagen" id="imagen">
            <br>
            <label for="categoria">Categoría</label> 
            <br>
            <select name="categoria" id="categoria">
                <% categorias.forEach(function(categoria) { %>
                    <option  
                        <%= typeof producto !== 'undefined' && producto.categoria === categoria? 'selected': ''%> ><%=categoria %></option>
                 <% }); %> 
            </select>
            <br>
            <label for="color">Color</label>
            <br>
            <select name="color" id="color">
                <% colores.forEach(function(color) { %>
                    <option  
                        <%= typeof producto !== 'undefined' && producto.color === color? 'selected': ''%> ><%=color %></option>
                 <% }); %> 
            </select>
            <br>
            <div class="cre-botones">
                <button class="cre-entrar" type="submit"><%= typeof producto !== 'undefined'? 'EDITAR': 'CREAR' %></button>
            </div>
        </form>
    </div>
    <%- include("../partials/footer") %>
</body>

</html>