<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

<body>
    <%- include("../partials/header") %>
    <div class="create-product container">
        <h1 class="cre-titulo mt-3">NUEVO PRODUCTO</h1>
        
        <% if(typeof errors !== 'undefined'){ %>
            <section id="errores">
                <h2>Errores</h2>
                <p></p><%= errors.map(error => `Error ${error.param} mensaje: ${error.msg}`) %>
            </section>    
        <%} %>

        <% if(typeof producto !== 'undefined' && typeof producto.id !== 'undefined'){%> 
            <form class="form-container"
            action="/products/update/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            
            <%}else{%>
                <form action="/products/create" method="POST" enctype="multipart/form-data">
            <%}%>
           

            <label for="nombre-producto">Nombre del producto</label> <br>
            <input 
                type="text" 
                name="nombre" 
                id="nombre"
                value="<%= typeof producto !== 'undefined'? producto.name : '' %> ">
                <span id="nombre_error" class="error is-invalid">
                    <%= locals && locals.errors && locals.errors.nombre && locals.errors.nombre.msg %>
                </span>
                <br>
                <label for="descripción">Descripción</label> <br>
                <input type="text" name="descripcion" id="descripcion"
                    value='<%= typeof producto !== 'undefined'? producto.description : '' %> '>
                    <span id="descripcion_error" class="error is-invalid">
                        <%= locals && locals.errors && locals.errors.descripcion && locals.errors.descripcion.msg %>
                    </span>
                <br>
                <label for="precio">Precio</label>
                <br>
                <input type="number" name="precio" id="precio"
                    value='<%= typeof producto !== 'undefined'? producto.price : '' %>'>
                    <span id="precio_error" class="error is-invalid">
                        <%= locals && locals.errors && locals.errors.precio && locals.errors.precio.msg %>
                    </span>
                    <br>
                <label for="imagen-producto">Imágenes</label>
                <br>
                <input 
                    type="file" 
                    name="imagen" 
                    id="imagen"
                    accept="image/png, image/jpeg, image/jpg, image/gif"
                    value='<%= typeof producto !== 'undefined'? producto.image : '' %>'
                    <% if(typeof producto === 'undefined'){ %>
                    required
                    <%}%>
                >
                <span id="imagen_error" class="error is-invalid">
                    <%= locals && locals.errors && locals.errors.imagen && locals.errors.imagen.msg %>
                </span>
                <br>

                <div class="cre-botones">
                    <button class="cre-entrar btn btn-primary my-3"
                        type="submit"><%= typeof producto !== 'undefined'? 'EDITAR': 'CREAR' %></button>
                </div>
            </form>
    </div>
    <%- include("../partials/footer") %>
    <script src="/js/validar-producto.js"></script>  
</body>

</html>