<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head") %> 
<body>
    <%- include("../partials/header") %> 
    <main>
        
        <div class="producto-juan">
            <img src="/images/products/<%= producto.img %>" alt="imagen de una zapatilla">
            <div class="texto-bajo-foto-juan"><p>foto <%= producto.nombre %> </p></div>
        </div>
        <div class="descripcion-producto-juan">
            
            <div class="nombre-juan"><p><%= producto.nombre %></p></div>
            <div class="precio-juan">$<%= producto.precio %> </div>
            <div class="cuotas-juan">6 cuotas sin interes de $2.075</div>
            <div class="cuotas-color-completar"><p><%= producto.color %> </p></div>
            <div class="mas-vendido-juan color-<%= typeof producto !== 'undefined'? producto.color: ''%>"></div>
            <div class="descripcion-juan"><p><%= producto.descripcion %> </p></div>
            
            <br>

            <div class="comprar-juan">
                <a class="comprar" href="/products" style-li>Comprar</a>
            </div>

            <div class="comprar-juan" >
                <a href="/products/create/<%=producto.id%>">Editar</a>     
            </div>

            <div class="comprar-juan" >
                <form action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST">
                    <button id="eliminar" type="submit" > Eliminar</button>
                </form>
            </div>
           
        </div>
    </div>
    </main>
    <%- include("../partials/footer") %> 
</body>
</html>