<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>

    <div class="titulo-list">
        <h2>
            ¡Nuestros mejores productos!
        </h2>
    
    </div>
    <ul>
        <% listaProductos.forEach(function(producto) { %>
           <li style="display: flex">
                <div class="lista-productos">
                   
                    <img width="60" height="60"  src="/images/products/<%=producto.img %>">
                    <p> <%= producto.nombre %> - $<%= producto.precio %> <a style="color: blue;" href="/products/detalle/<%=producto.id%>">Ir a detalle</a></p>
                </div>
            </li>
        <% }); %> 
    </ul>
    <%- include("../partials/footer") %>
</body>